<%- include("inc/header") -%>
 <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Tela Inicial
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li class="active">Usuários</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" onclick="window.location.href = '/reservations'" style="cursor:pointer">
          <span class="info-box-icon bg-aqua">
            <i class="ion ion-ios-calendar"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Reservations</span>
            <span class="info-box-number"><%= data.nrreservations %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" onclick="window.location.href = '/contacts'" style="cursor:pointer">
          <span class="info-box-icon bg-red">
            <i class="ion ion-ios-chatboxes"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Contacts</span>
            <span class="info-box-number"><%= data.nrcontacts %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" onclick="window.location.href = '/menu'" style="cursor:pointer">
          <span class="info-box-icon bg-green">
            <i class="fa fa-cutlery"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Menus</span>
            <span class="info-box-number"><%= data.nrmenus %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" onclick="window.location.href = '/users'" style="cursor:pointer">
          <span class="info-box-icon bg-yellow">
            <i class="ion ion-ios-people-outline"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Users</span>
            <span class="info-box-number"><%= data.nrusers %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>

  </section>
  <!-- /.content -->
    </div>
<!-- /.content-wrapper -->
<%- include("inc/footer") -%>
